html {
    /* background-color: black; */
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    height: 100vh;
    width: 100%;
}

@media all and (max-width: 481px) {
    #controls {
        display: none;
    }
}

#controls {
    font-size: 0.8em;
    color: white;
    background-color: rgba(255, 255, 255, 0.37);
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
}

#controls input {
    width: 130px;
}